<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Контакты</h1>
            <p class="lead text-body-secondary">INFO: Создайте контакты для списка.
                Далее создайте список и выберите контакты которым будет предназначена рассылка
            </p>
            <p class="lead text-body-secondary">
                INFO: Если вы хотите добавить контакт в существующий список то
                отредактируйте список и добавте в него новый контакт
            </p>
            <p>
                <a href="{% url 'contacts:create_list' %}" class="btn btn-primary my-2">Создать список</a>
                <a href="{% url 'contacts:create_contact' %}" class="btn btn-primary my-2">Создать контакт</a>
            </p>
        </div>
    </div>
</section>